<div class="card">
  <br><%= @question %>
  <br><%= "---You---" %>
</div>

<div class="card">
  <br><%= @answer %>
  <br><%= "---Your coach---" %>
</div>

<%= link_to 'ask a question to your coach', '/ask'  %>